
$baseFontSize = 100;
$baseWidth = 1080;
// 1080设计搞
rem(px) {
	(px/$baseFontSize)*1rem
}
bg(w, h, src) {
	width: rem(w);
	height: rem(h);
	background: url(src) 0 0 no-repeat;
	background-size: 100%;
}
fz(size){
   font-size:rem(size);
}
html,body{
		margin:0;
		padding:0;
	}
	.wrap-box{
		height: 100%;
		
		display: flex;
		-webkit-box-orient:vertical;
		box-orient:vertical;
		-webkit-flex-direction:column;
		flex-direction: column;
	}
	.nav-tab{
		background-color: #ccc;

		>ul{
			display: flex;
			margin: 0px;
    		padding: 10px 0;
    		 transform-origin: 0px 0px 0px;
		    opacity: 1;
		    transform: scale(1, 1);
			>li{
				list-style: none;
				flex:1;
				text-align: center;
				fz(20)
			}
		}
		
	}
	.page-body{
		    -webkit-box-flex: 1;
		    -moz-box-flex: 1;
		    -webkit-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
	}
