*{padding:0px;margin:0px;}
.nav-top{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    display:flex;
    background-color:#fff;
    padding:10px 0px;
    a{
        display:block;
        flex:1;
        &.active{
            background-color:green;
        }
        font-size:.18rem;
    }
}