*{padding:0px;margin:0px;}
.headerWrapBox>div{
	width:100%;
	height:60px;
	position: relative;
	overflow: hidden;
}
.headerLogo{
	width:150px;
	height:60px;
	position: absolute;
	top:0px;
	left:0px;
}
.headerBtn{
	width:60px;
	height:60px;
	background: pink;
	position: absolute;
	right:0px;
	top:0px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.headerTel{
	width:100%;
	height:60px;
	line-height:60px;
	background-color:yellow;
	margin:0px 60px 0px 150px;
	position: relative;
}
.headerTel>p{
	text-align: right;
    padding-right: 220px;
}

