<nav class="pull-right">
        <ul class="pagination">
          <li>
              <a href="/admin/{{name}}?page={{curentPage*1-1}}" aria-label="Previous">
                  上一页
              </a>
          </li>
          {% for key,val in arr %}
          <li><a href="/admin/{{name}}?page={{key*1+1}}">{{key*1+1}}</a></li>
          {% endfor %}
          <li>
              <a href="/admin/{{name}}?page={{curentPage*1+1}}" aria-label="next">
                  下一页
              </a>
         </li>
        </ul>
 </nav>