<div class="row list-cnt">
	<div class="col-xs-12 col-sm-12" ng-repeat="item in data['list-page-5']">
		<div class="col-xs-12 col-sm-12 part1">
			<div class="row list-1">
				<div class="trangle"></div>
				<div class="trangle2"></div>
				<div class="col-xs-9">
					<div class="tet"><a href="#"><h3>{{item.title}}</h3></a></div>
					<div class="time">{{item.time}}</div>
					<div class="wedgit"><span>{{item.wedgit}}</span></div>
				</div>
			</div>
			<div class="decText">
				{{item.decText}}
			</div>
			<div class="right-cmment">
				<div class="comment">
					<span><i class="icon icon-heart"></i>{{item['icon-heart']}}</span>
					<span><i class="icon icon-star"></i>{{item['icon-start']}}</span>
					<span><i class="icon icon-share"></i>{{item['icon-share']}}</span>
					<span><i class="icon icon-thumbs-up"></i>{{item['icon-thumbs']}}</span>
					<span><i class="icon  icon-comment-alt" ng-click="remarkArea($index)"></i>{{item['icon-remark']}}</span>
				</div>
			</div>
			<span ng-class="{trangleMask:idex==$index}"></span>
			<!--<img ng-src="{{item.img}}" class="img-title" ng-if="isshow"/>-->
			<div ng-class="{maskArea:idex==$index}" contenteditable="true" style="margin:10px 0px;outline:none;"></div>
			<a href="javascript:void(0)" class="mc-sure-btn" ng-click ="sureBtn(index)" ng-if="idex==$index">发表</a>
		</div>
	</div>
</div>