*{padding:0px;margin:0px;}
.header,.content{
	width:200px;
	height:100px;
	border:1px solid red;
	float:left;
	margin:10px;
}
.app{
	width:100px;
	height:200px;
	background:yellow;
}
.active{
	background:gray;
	cursor: pointer
}
.img{
	background:url("../img/test2.png") no-repeat center;
	width:300px;
	height:200px;
	background-size:50% auto;
	clear:both;
}